---
Checks: '
        clang-analyzer-*,
        android-*,
        cppcoreguidelines-*,
        bugprone-*,
        cert-*,
        hicpp-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -modernize-use-trailing-return-type,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-union-access
        '
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
User: none
CheckOptions:
...
